<section id="about" class="about-me-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>about Milan Chodvadiya</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- START ABOUT IMAGE AREA -->
                <div class="about-image">
                    <img src="assets/images/me.jpg" alt="">
                </div>
                <!-- / END ABOUT IMAGE AREA -->
            </div>
            <div class="col-md-6">
                <!-- START ABOUT TEXT AREA -->
                <div class="about-text">
                    <h2 class="wow fadeInUp" data-wow-delay="0.4s">I'm 22 years old Designer and focused on brand identity!</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.6s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining </p>

                    <ul class="wow fadeInUp" data-wow-delay="0.8s">
                        <li>Web design</li>
                        <li>Graphic & print</li>
                        <li>iOS design</li>
                        <li>Front-end development</li>
                        <li>User experience</li>
                        <li>Branding</li>
                        <li>Back-end development</li>
                        <li>Responsive</li>
                    </ul>
                </div>
                <!-- / END ABOUT TEXT AREA -->
            </div>
        </div>
    </div>
</section>