	<!-- LATEST JQUERY -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- OWL CAROUSEL JS  -->
    <script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- MIXITUP JS -->
    <script src="/assets/js/jquery.mixitup.js"></script>
    <!-- PARALLAX JS -->
    <script src="/assets/js/jquery.stellar.min.js"></script>
    <script src="/assets/js/particles.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <!-- MAGNIFICANT JS -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- WOW JS -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- CONTACT FORM JS -->
    <script src="/assets/js/form-contact.js"></script>
    <!-- SCRIPT JS -->
    <script src="/assets/js/scripts.js"></script>