<div class="welcome-image-area particle-bg" data-stellar-background-ratio="0.6">
    <div id="particles-js"></div>
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-text text-center">
                            <h1 class="typewrite" data-period="2000" data-type='[ "Hi, I am Milan Patel.", "I am Developer.", "I am creative.", "i am from India" ]'>
                                <span class="wrap"></span>
                            </h1>
                            <div class="social-links header-links">
                                <ul>
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="home-arrow-down">
                                <a href="#about" class="smoth-scroll btn"><i class="fa fa-angle-double-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>