<section id="work" class="work section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>featured works.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="work">
                <li class="filter" data-filter="all">all</li>
                <li class="filter" data-filter=".webdesign">webdesign</li>
                <li class="filter" data-filter=".development">development</li>
                <li class="filter" data-filter=".photography">photography</li>
            </ul>
        </div>
        <div class="work-inner">
            <div class="row work-posts grid">
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-6 mix webdesign">
                    <div class="item">
                        <a href="assets/images/work/1.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/1.jpg" alt="image">
                                    <figcaption>
                                        <h2>development</h2>
                                        <p>project one</p>
                                    </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-6 mix development">
                    <div class="item">
                        <a href="assets/images/work/2.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/2.jpg" alt="image">
                                    <figcaption>
                                        <h2>Design</h2>
                                        <p>project two</p>
                                    </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-6 mix photography webdesign">
                    <div class="item">
                        <a href="assets/images/work/3.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/3.jpg" alt="image">
                                    <figcaption>
                                        <h2>Branding</h2>
                                        <p>project three</p>
                                    </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-6 mix development">
                    <div class="item">
                        <a href="assets/images/work/4.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/4.jpg" alt="image">
                                    <figcaption>
                                        <h2>porttrait</h2>
                                        <p>project four</p>
                                    </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-6 mix development webdesign">
                    <div class="item">
                        <a href="assets/images/work/5.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/5.jpg" alt="image">
                                    <figcaption>
                                        <h2>photography</h2>
                                        <p>project five</p>
                                    </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-6 mix photography">
                    <div class="item">
                        <a href="assets/images/work/6.jpg" class="work-popup">
                            <figure class="effect-ruby">
                                <img src="assets/images/work/6.jpg" alt="image">
                                    <figcaption>
                                        <h2>Logo design</h2>
                                        <p>project six</p>
                                    </figcaption>
                            </figure>
                            </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
            </div>
        </div>
    </div>
</section>